
#header {
    size: 10px;
display: flex;
justify-content: center;  
} 

#mainSection { 
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
align-items: center;
height: 100vh;

}

#footer {
display: flex;
justify-content: center;
size: 10px;
} 


/* #div5 {
flex-wrap: wrap;
justify-content: flex-start;
} */